body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    --mdc-theme-primary: #0d47a1;
    --mdc-theme-secondary: #FFCA28;
}

.container {
    height: inherit;
    min-height: 100vh;
    display: block;
    background-size: auto;
    /*background: -webkit-linear-gradient(-45deg, rgba(66, 66, 66, 1) 0%,rgba(48, 48, 48, 1) 100%);
    background: linear-gradient(135deg, rgba(66, 66, 66, 1) 0%,rgba(48, 48, 48, 1) 100%); */
    background: linear-gradient(135deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 100%) no-repeat;
}

.logo-c {
    height: 100%;
    background-color: rgba(13, 71, 161, 0.95);
    padding-top: 1%;
    padding-left: 15px;
    position: relative;
}

.logo {
    background: url("res/ic_name.svg") no-repeat;
    background-size: contain;
    height: 64px;
    width: 64px;
}

#language {
    height: 5%;
    padding-left: 15px;
    min-width: 72px;
    position: relative;
    top: 80%;
    bottom: 0;
}

#language button {
    display: inline-block;
    color: var(--mdc-theme-text-primary-on-dark, white) !important;
    opacity: 0.6;
    padding: 2px;
    min-width: 32px;
    height: 36px;
}

#language button.active {
    opacity: 1;
}

.mdc-card-w {
    position: relative;
    background: white url("res/bg2.png");
    display: block;
    height: inherit;
    min-height: 100vh;
}

.my-horizontal-block {
    position: absolute;
    top: 0;
    left: 0;
}

.mdc-card__horizontal-block {
    height: 100%;
    padding-right: 0;
}

.card-hb1 {
    width: 75%;
    height: 100%;
    background-color: rgba(13, 71, 161, 0.95);
    padding: 30px;
}

.card-hb2 {
    width: 25%;
    height: 100%;
    background-color: rgba(21, 101, 192, 0.85);
}

#demo-menu {
    z-index: 20;
}

#dynamic-tab-bar {
    margin: 0;
}

.mdc-tab-bar a {
    color: var(--mdc-theme-text-primary-on-dark, white) !important;
    opacity: 0.6;
}

.mdc-tab-bar .mdc-tab--active {
    opacity: 1;
}

.mdc-tab-bar__indicator {
    background-color: transparent;
}

.mdc-tab.mdc-ripple-upgraded::before, .mdc-tab.mdc-ripple-upgraded::after {
    background-color: transparent;
}
.mdc-tab.mdc-ripple-upgraded:hover::before {
    background-color: black;
    opacity: 0.04;
}

.mobile-switcher {
    display: none;
}

.mobile-menu {
    display: none;
}

.panels {
    margin-top: 8px;
    overflow: auto;
    max-height: 80vh;
}

.panel {
    visibility: collapse;
    display: none;
}

.panel.active {
    visibility: visible;
    display: block;
    overflow: hidden;
}

.mdc-card__horizontal-block.active {
    visibility: visible;
    display: block;
    padding: 24px;
}

.box-horizontal-inner .mdc-list-item__text {
    width: 100%;
}

.mdc-dialog__footer {
    background-color: #424242;
    display: flex;
    position: fixed;
    width: inherit;
    bottom: 0;
    right: 0;
    justify-content: flex-end;
    padding: 8px;
}

.separator--large {
    height: 4px;
    width: 120px;
    background-color: #FFCA28;
    margin-bottom: 48px;
}

.filter-c1 {
    background-color: rgba(255, 167, 36, 0.85);
}

/*
 * PROJECTS
 */
.demo-card {
    background-color: white;
    min-width: 320px;
}

.demo-card .mdc-card__media {
    background-image: url("res/images/subjects_dark.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 10.938rem;
}

.demo-card .img2 {
    background-image: url("res/images/eco_dark.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.mdc-card__supporting-text:last-child {
    padding-bottom: 0;
}

@media screen and (min-width: 1600px) {
    .container {
        padding-top: 15%;
        padding-left: 20%;
        padding-right: 20%;
    }
}

@media screen and (min-width: 900px) {
    .container {
        padding-top: 5%;
        padding-left: 10%;
        padding-right: 10%;
    }

    .panels {
        overflow: hidden;
    }

    .panel-h.active {
        display: flex;
        max-height: 90%;
    }

    .box-horizontal-inner {
        max-width: 45%;
    }

    .mdc-card-w {
        height: 800px;
        min-height: 800px;
    }
}

@media handheld {
    .mobile-switcher {
        display: block;
    }

    .mobile-menu {
        display: block;
    }
}

