body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
}

.container {
    height: inherit;
    min-height: 100vh;
    display: block;
    background-repeat: no-repeat;
    background-size: auto;
    background: -webkit-linear-gradient(-45deg, rgba(66, 66, 66, 1) 0%,rgba(48, 48, 48, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(66, 66, 66, 1) 0%,rgba(48, 48, 48, 1) 100%);
    overflow: auto;
}

.logo-c {
    height: 100%;
    background-color: rgba(13, 71, 161, 0.95);
    padding: 20px;
}

.logo {
    background: url("res/ic_name.svg") no-repeat;
    background-size: contain;
    height: 64px;
    width: 64px;
}

.mdc-card__horizontal-block {
    height: 100%;
    padding-right: 0;
}

.mdc-card-w {
    background-image: url("res/bg2.png");
    display: block;
    height: 800px;
}

.card-hb1 {
    width: 75%;
    height: 100%;
    background-color: rgba(13, 71, 161, 0.95);
    padding: 30px;
}

.card-hb2 {
    width: 25%;
    height: 100%;
    background-color: rgba(21, 101, 192, 0.85);
}

#dynamic-tab-bar {
    margin: 0;
}

.mdc-tab.mdc-ripple-upgraded::before, .mdc-tab.mdc-ripple-upgraded::after {
    background-color: transparent;
}
.mdc-tab.mdc-ripple-upgraded:hover::before {
    background-color: black;
    opacity: 0.04;
}

.panels {
    margin-top: 48px;
}

.panel {
    visibility: collapse;
    display: none;
}

.panel.active {
    visibility: visible;
    display: block;
}

.mdc-dialog__footer {
    background-color: #424242;
    display: flex;
    position: fixed;
    width: inherit;
    bottom: 0;
    right: 0;
    justify-content: flex-end;
    padding: 8px;
}

.filter-c1 {
    background-color: rgba(255, 167, 36, 0.85);
}

@media screen and (min-width: 1600px) {
    .container {
        padding-top: 15%;
        padding-left: 20%;
        padding-right: 20%;
    }
}

@media screen and (min-width: 800px) {
    .container {
        padding-top: 5%;
        padding-left: 10%;
        padding-right: 10%;
    }
}

